<div class="barcode-main">
    <div class="intro"> 
        <h1>Barcode Decoder</h1>
        <p>
            A barcode decoder is a tool that can read and interpret barcode symbols. 
            Barcodes are widely used in various industries, such as retail, transportation, and logistics, 
            to store and retrieve information quickly and accurately.
        </p>
        <p>
            This is an essential tool for applications that need to process barcode data, 
            such as inventory management, order tracking, and product authentication. 
            By using a reliable and efficient decoder like <b>pyzbar</b>, we are accurately and efficiently reading 
            and interpreting barcode symbols from various sources.
        </p>
    </div>
<div class="inp">
    <input type="file" (change)="onFileSelected($event)" accept=".png,.jpeg,.jpg"/>
    <button mat-raised-button color="primary" (click)="onProcessButtonClick()">Decode the barcode</button>
</div>
<p class="decoded" *ngIf="decoded_string"><span>Decoded string is:</span><span>{{decoded_string}}</span></p>
<div class="link-here">
    <p>Try generating barcodes <a routerLink="/barcode">here</a>.</p>
</div>


</div>